<div class="container">
  <div class="row" >
    <div class="col-md-4 mb-5">
      <div class="card shadow-effect" routerLink="./categories">
        <div class="card-body text-center bg-secondary-theam">
          <h1 class="text-theam-primary mt-3">
            <i class="fas fa-clipboard-list"></i>
          </h1>
          <h2 class="text-theam-primary">Category</h2>

          <p>Manage your Category</p>
        </div>
      </div>
    </div>

    <div class="col-md-4 mb-5">
        <div class="card shadow-effect" routerLink="./posts">
          <div class="card-body text-center bg-secondary-theam">
            <h1 class="text-theam-primary mt-3">
              <i class="fas fa-file-image"></i>
            </h1>
            <h2 class="text-theam-primary">Posts</h2>
  
            <p>Manage your Post Details Here </p>
          </div>
        </div>
      </div>
  </div>
</div>
