
/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~ngx-toastr/toastr';

/* @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap'); */
:root{
    --primary-color:#41b8bc;
    --secondary-color:#E5F5EA;
    --body-text-color:#596392;
    --navbar-footer-color:#fefafa;

}

body{
    font-family: 'Roboto',sans-serif;
    font-size: 14px;
    color:var(--body-text-color);
    display: contents;

}


.site-logo{
    padding: 5px 20px;
    border-radius: 20px;
    background-color: var(--secondary-color);
    color: var(--primary-color);
   

}
.shadow-effect{
    border: none;
    box-shadow: 0px 0px 33px -10px rgba(29, 72, 212, 0.3);
}
.bg-theame{
    background-color: var(--primary-color);
}
.bg-secondary-theam{
    background-color: var(--secondary-color);
}

.text-theam-primary{
    color: var(--primary-color);
}

input[type= text],input[type=email]{
    height:60px;
    padding-left: 20px;
    font-weight: 100%;

}

.btn-sub{
    height: 58px;
    border: none;
    font-size: 17px;
    background-color: var(--primary-color);
}


